@media only screen and (max-width: 530px) {
	body {
		margin-top: 5px;
	}
	div.profile-div div.about-me-div a.about-me-a {
		max-width: 75px;
	}
	div.content-div-title-container {
		width: 100%;
	}
	div.content-div {
		width: 100%;
	}
	div.progreses-container {
		width: 100%;
	}
	.fav-musix {
		width: 100%;
	}
}
@media only screen and (max-width: 420px) {
	:root {
		--space-between-title-container: -50px;
	}
	div.profile-div div.about-me-div a.about-me-a {
		max-width: 60px;
	}
	p.content-div-title {
		font-size: 1.6rem;
	}
	div.content-div div.content {
		padding: 5px;
	}
	div.content-div div.content p.content-title {
		font-size: 1.5rem;
		margin-bottom: 5px;
	}

		/* progress	*/
	div.progress-div {
		width: 80px;
		height: 80px;
	}
	div.progress-bar {
		width: 70px;
		height: 70px;
	}
	h1.progress-div-title {
		font-size: 1.6rem;
		top: var(--space-between-title-container);
	}
	p.progress-title {
		font-size: 1rem;
	}

		/* fav musix */
	.fav-musix-title {
		font-size: 1.6rem;
		top: var(--space-between-title-container);
	}
}
@media only screen and (max-width: 400px) {
	div.profile-div div.about-me-div a.about-me-a {
		max-width: 45px;
	}
	div.profile-div div.about-me-div a.about-me-a img{
		max-width: 45px;
	}
}
@media only screen and (max-width: 340px) {
	div.profile-div div.about-me-div a.about-me-a {
		max-width: 40px;
	}
	div.profile-div div.about-me-div a.about-me-a img{
		max-width: 40px;
	}
}
@media only screen and (max-width: 320px) {
	div.profile-div div.about-me-div a.about-me-a {
		max-width: 35px;
	}
	div.profile-div div.about-me-div a.about-me-a img{
		max-width: 35px;
	}
}
@media only screen and (max-width: 300px) {
	div.profile-div div.about-me-div {
		display: grid;
		grid-template-columns: 50px 50px;
		grid-template-rows: 50px 50px;
	}
	div.content-div {
		margin-top: 20px;
	}
	div.content-div div.content p.content-title {
		font-size: 1.2rem;
	}
}