:root {
	--active-theme-border-color: white;
	--active-theme-border-width: 3px;

	--defult-color: white;
	--main-color: rgb(10,10,10);
	--container-color: rgb(30,30,20);
	--box-color: rgb(20,20,20);
	--under-texts-bottom-color: whitesmoke;
	--left-texts-color: whitesmoke;
	--main-fg: white;
	--fire-anim-color-1: red;
	--fire-anim-color-2: yellow;
	--playing-song-title-color: yellow;
	--playing-song-border-color: yellow;
	--playing-song-color: crimson;
	--color-theme-top-border-radius: 12px;
	--negative-color-theme-top-border-radius: -12px;

	/* otheer sizeing */
	--space-between-title-container: -70px;
}
/*
	#000000
	#3D0000
	#950101
	#FF0000
*/
* {
	color: var(--fg1);
	transition: all 150ms;
/*	background-color: forestgreen;*/
}
*::selection {
	color: var(--main-color);
	background: var(--main-fg);
}
body {
	display: flex;
	justify-content: center;
	align-content: center;
	margin-top: 80px;
	margin-bottom: 50px;
	background: var(--main-color);
}

.box {
	box-shadow: 0 0 10px var(--box-color);
	background: var(--box-color);
}


.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	display: flex;
	z-index: 1000000;
}
.color-theme {
	transition: all 100ms;
	font-size: 0;
	flex: 1;
}
.color-theme-blue {
	background: blue;
}
.color-theme-yellow {
	background: yellow;
}
.color-theme-green {
	background: green;
}
.color-theme-red {
	background: crimson;
}
.color-theme-dark {
	background: black;
}
.color-theme-light {
	background: whitesmoke;
}
.color-theme.active-theme {
	flex: 2;
}

/* styles when active themes */
.color-theme-blue.active-theme {
	border-top-right-radius: var(--color-theme-top-border-radius);
	position: relative;
}
.color-theme-blue.active-theme ~ .color-theme-green {
	margin-left: var(--negative-color-theme-top-border-radius);
	z-index: -1;
}

.color-theme-green.active-theme {
	border-radius: var(--color-theme-top-border-radius) var(--color-theme-top-border-radius) 0 0;
	margin-left: var(--negative-color-theme-top-border-radius);
}
.color-theme-green.active-theme ~ .color-theme-yellow {
	margin-left: var(--negative-color-theme-top-border-radius);
	z-index: -1;
}

.color-theme-yellow.active-theme {
	border-radius: var(--color-theme-top-border-radius) var(--color-theme-top-border-radius) 0 0;
	margin-left: var(--negative-color-theme-top-border-radius);
}
.color-theme-yellow.active-theme ~ .color-theme-red {
	margin-left: var(--negative-color-theme-top-border-radius);
	z-index: -1;
}

.color-theme-red.active-theme {
	border-radius: var(--color-theme-top-border-radius) var(--color-theme-top-border-radius) 0 0;
	margin-left: var(--negative-color-theme-top-border-radius);
}
.color-theme-red.active-theme ~ .color-theme-dark {
	margin-left: var(--negative-color-theme-top-border-radius);
	z-index: -1;
}

.color-theme-dark.active-theme {
	border-radius: var(--color-theme-top-border-radius) var(--color-theme-top-border-radius) 0 0;
	margin-left: var(--negative-color-theme-top-border-radius);
}
.color-theme-dark.active-theme ~ .color-theme-light {
	margin-left: var(--negative-color-theme-top-border-radius);
	z-index: -1;
}

.color-theme-light.active-theme {
	border-top-left-radius: var(--color-theme-top-border-radius);
	margin-left: var(--negative-color-theme-top-border-radius);

}

* {
	color: var(--main-fg);
}

div.container {
	top: 150px;
	left: 50%;
	width: 1000px;
	box-shadow: 0 0 5px var(--bg1);
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 70px;
}
div.profile-div {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 100px;
}
div.profile-div img {
	width: 150px;
	object-position: center;
	object-fit: cover;
	border-radius: 50%;
	aspect-ratio: 1/1;
	border: 3px transparent solid;
	outline: 3px var(--under-texts-bottom-color) solid;
}
div.profile-div div.my-info-div *{
	font-weight: bold;
}
div.profile-div div.about-me-div a.about-me-a img {
	width: 50px;
	transition: all 50ms;
}


/* projects */
div.content-div {
	display: flex;
	flex-direction: column;
	align-content: start;
	row-gap: 10px;
	width: 70%;
	padding: 0 10px 10px 10px;
}
div.content-div-title-container {
	width: 70%;
/*	border: 1px red solid;*/
	margin-top: 70px;
	margin-bottom: 10px;
}
p.content-div-title {
	font-size: 2.3rem;
	font-family: sans-serif;
	font-weight: bold;
	margin: 0;
	padding: 0;
	border-bottom: 3px var(--under-texts-bottom-color) solid;
	width: calc(11ch - 0.5rem);
}
div.content {
	display: flex;
	flex-direction: column;
	justify-content: start;
	padding: 20px 0 20px 20px;
	font-family: sans-serif;
	margin-top: 50px;
	transition: margin-top 1s;
}
div.content p.content-title {
	font-size: 2rem;
	margin-top: 0;
	margin-bottom: 10px;
}
.content-link {
	font-family: monospace;
}


footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 50px;
	display: flex;
	justify-content: center;
}
footer div.footer-container {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
	align-items: center;
}
footer div.footer-container div {
	display: inline-block;
}
footer div.footer-container div p {
	display: inline-block;
}
footer div.footer-container div a.clock-icon::before {
	content: '\23f1';
	background: none;
}
footer svg {
	width: 15px;
	height: 15px;
	fill: var(--main-fg);
}




/* progress */
div.progreses-container {
	position: relative;
	margin-top: 90px;
	width: 70%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	row-gap: 30px;
/*	column-gap: 130px;*/
	padding: 20px 5px;
	transition: column-gap 1s;
}
h1.progress-div-title {
	position: absolute;
	top: var(--space-between-title-container);
	left: 0;
	font-size: 2.3rem;
	border-bottom: 3px var(--under-texts-bottom-color) solid;
	width: calc(9ch - 0.5rem);
}
div.to-do {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	column-gap: 20px;
	width: fit-content;
}
div.progress-div {
	position: relative;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: conic-gradient(var(--default-color) 0deg, #fff 0deg);
	box-shadow: 0 0 50px rgba(0, 00, 0, 0), inset 0 0 50px rgba(0, 0, 0, 0);
}
div.progress-bar {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: black;
	width: 75px;
	height: 75px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	pointer-events: none;
}
p.progress-title {
	font-size: 1.5rem;
	font-weight: bold;
}
.fire-anim-1 {
	animation: fire-anim-1 1s infinite both;
}
.fire-anim-2 {
	animation: fire-anim-2 1s infinite both;
}
.paint-anim {
	animation: paint-anim 1s 1 both;
}
@keyframes fire-anim-1 {
	1% {
		box-shadow: 0 0 50px var(--fire-anim-color-1), inset 0 0 50px var(--fire-anim-color-2);
	}
	50% {
		box-shadow: 0 0 50px var(--fire-anim-color-2), inset 0 0 50px var(--fire-anim-color-1);	
	}
	100% {
		box-shadow: 0 0 50px var(--fire-anim-color-1), inset 0 0 50px var(--fire-anim-color-2);
	}
}
@keyframes fire-anim-2 {
	1% {
		box-shadow: 0 0 50px var(--fire-anim-color-1), inset 0 0 50px var(--fire-anim-color-2);
	}
	50% {
		box-shadow: 0 0 50px var(--fire-anim-color-2), inset 0 0 50px var(--fire-anim-color-1);	
	}
	100% {
		box-shadow: 0 0 50px var(--fire-anim-color-1), inset 0 0 50px var(--fire-anim-color-2);
	}
}

@keyframes paint-anim {
	from {
		background: white;
		color: black;
	}
	to {
		background: black;
		color: white;
	}
}


/* fav musix */
.fav-musix {
	margin-top: 100px;
	width: 70%;
	display: grid;
	justify-items: center;
	grid-template-rows: repeat(5, 80px);
	row-gap: 25px;
	position: relative;
	transition: all 1s;
}
.fav-musix-title {
	position: absolute;
	top: var(--space-between-title-container);
	left: -4px;
	width: calc(19ch - 2rem);
	border-bottom: 3px var(--under-texts-bottom-color) solid;
	font-size: 2.3rem;
}
.musix {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	border-left: 3px var(--left-texts-color) solid;
	width: 100%;
	padding: 5px 0px 5px 5px;
	margin-top: 50px;
	transition: margin-top 1s;
}
.musix p {
	margin: 0;
	height: 20px;
	overflow: hidden;
	font-weight: bold;
}
audio {
	border-radius: 50px;
	margin: 0;
	width: 100%;
}



/* animations */
.scale-up-anim {
	animation: scale-up-anim 1 1200ms both;
}
@keyframes scale-up-anim {
	from {
		scale: 0;
	}
	to {
		scale: 1;
	}
}