:root {
	--bg1: rgba(30,30,30,0);
	--bg2: rgba(20,20,20,0.0);
	--bg3: rgb(20,20,20);
	--wbg3: rgba(250,250,250,1);
	--bg4: rgba(30,00,20,1);
	--fg1: rgb(230,230,230);
	--fg2: rgb(30,30,30);
	--fit-height: fit-content;
}
* {
	color: var(--fg1);
	transition: all 150ms;
}
body {
	display: flex;
	justify-content: center;
	align-content: center;
	margin-top: 150px;
	margin-bottom: 50px;
	background: black;
}


.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	display: flex;
	align-content: center;
	justify-content: center;
	background: rgba(230,230,230,0.5);
}
.dark-mode-btn {
	width: 5ch;
	aspect-ratio: 16/9;
	background: none;
	border: none;
}



div.container {
	top: 150px;
	left: 50%;
	width: 1000px;
	box-shadow: 0 0 5px var(--bg1);
	background: var(--bg1);
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 70px;
}
div.profile-div {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 100px;
}
div.profile-div img {
	width: 150px;
	object-position: center;
	object-fit: cover;
	border-radius: 50%;
	aspect-ratio: 1/1;
}
div.profile-div div.my-info-div *{
	font-weight: bold;
}
div.profile-div div.about-me-div {
	background: var(--bg2);
	padding: 5px 20px;
	display: flex;
	column-gap: 20px;
	border-radius: 2px;
	border-top: 3px green solid;
}
div.profile-div div.about-me-div a.about-me-a {
	color: var(--fg1);
	font-weight: bolder;
	font-family: sans-serif;
	text-decoration: none;
	width: 100px;
	height: 20px;
	transition: all 50ms;
}
div.profile-div div.about-me-div a.about-me-a img {
	width: 50px;
	transition: all 50ms;
}
div.profile-div div.about-me-div a.about-me-a img:hover {
	width: 55px;
}
div.profile-div div.about-me-div a.about-me-a:hover {
	font-size: 1.2rem;
}


div.content-div {
	background: var(--bg2);
	display: flex;
	flex-direction: column;
	align-content: start;
	row-gap: 10px;
/*	margin-top: 70px;*/
	width: 70%;
	padding: 10px;
}
div.content-div-title-container {
	width: 70%;
/*	border: 1px red solid;*/
	margin-top: 100px;
	margin-bottom: 10px;
}
p.content-div-title {
/*	color: whitesmoke;*/
	font-size: 3rem;
	font-family: sans-serif;
	font-weight: bold;
	margin: 0;
	padding: 0;
	border-bottom: 3px darkred solid;
	width: calc(11ch - 20px);
}
div.content {
	background:var(--bg3);
	display: flex;
	flex-direction: column;
	justify-content: start;
	padding: 20px 0 20px 20px;
	font-family: monospace;
}
div.content p.content-title {
	font-size: 2rem;
	margin-top: 0;
	margin-bottom: 10px;
}


footer {
	background: var(--bg4);
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 50px;
	display: flex;
	justify-content: center;
}
footer div.footer-container {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
	align-items: center;
}
footer div.footer-container div {
	display: inline-block;
}
footer div.footer-container div p {
	display: inline-block;
}
footer div.footer-container div a.clock-icon::before {
	content: '\23f1';
	color: white;
	background: black;
}




/* progress */
div.progreses-container {
	position: relative;
	margin-top: 90px;
	width: 70%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
/*	grid-template-rows: repeat(2, 50px);*/
/*	justify-content: center;*/
	justify-items: center;
	row-gap: 30px;
/*	border-top: 2px whitesmoke solid;*/
	padding: 20px 5px;
	background: rgb(30, 30, 30);
}
h1.progress-div-title {
	position: absolute;
	top: -100px;
	left: 5px;
	font-size: 3rem;
	color: white;
}
div.to-do {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	column-gap: 20px;
	width: fit-content;
}
div.progress-div {
	position: relative;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: conic-gradient(royalblue 0deg, #fff 0deg);
}
div.progress-bar {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: black;
	width: 75px;
	height: 75px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
}
p.progress-title {
	font-size: 1.5rem;
	font-weight: bold;
}